
<div class="panel panel-default">
	<div class="panel-heading">Useful links</div>
	<div class="panel-body">

		<ul class="list-group">
			<li><%= link_to "English Chess Federation", 'http://www.englishchess.org.uk/' %></li>
			<li><%= link_to "English Chess Federation Grading Database", 'http://www.ecfgrading.org.uk/' %></li>
			<li><%= link_to "Cambridgeshire County Chess Association", 'http://www.cambschess.co.uk/' %></li>
		</ul>
	</div>
</div>
