
<div class="panel panel-default">
	<div class="panel-heading">Useful links</div>
	<div class="panel-body">
		<%= link_to "English Chess Federation", 'http://www.englishchess.org.uk/' %>
	</div>
	<div class="panel-body">
		<%= link_to "English Chess Federation Grading Database", 'http://www.ecfgrading.org.uk/' %>
	</div>
	<div class="panel-body">
		<%= link_to "Cambridgeshire County Chess Association", 'http://www.cambschess.co.uk/' %>
	</div>
</div>

