---
title: Footer
---

<footer>
	<div class="panel panel-default">
	  <div class="panel-body">
	    &copy; St Neots Chess Club 2016, released under the <%= link_to "MIT License", 'http://opensource.org/licenses/MIT' %>.  Built using <%= link_to "Middleman", 'https://middlemanapp.com' %> with styling/theme based upon <%= link_to "Bootswatch Flatly", 'https://bootswatch.com/flatly/' %>. 
	</div>
</footer>
