---
title: Footer
---

<footer>
<!-- 	<div class="panel panel-default">
	  <div class="panel-body">
	    &copy; St Neots Chess Club 2015.  Built using <%= link_to "Middleman", 'https://middlemanapp.com' %> and styling/theme based upon <%= link_to "Bootswatch Flatly", 'https://bootswatch.com/flatly/' %>
	  </div>
	</div> -->
</footer>