---
title: Contact Us
---

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<p>During the season (September through to May), the Club meets on Mondays at 7-30pm at the local <%= link_to "RAFA Club", 'https://goo.gl/maps/oz7LX' %>: <br/>
				<br/>
				<strong>44 Huntingdon St,</strong></br>
				<strong>St. Neots, </strong><br/>
				<strong>PE19 1DU </strong><br/>
				<br/>
			 Prospective members are welcome to visit the Club as our guest and play games with Club members. However, we recommend that you contact the chess club in advance by <strong>emailing</strong> us at <%= mail_to 'dunn4567@aol.com. colin.emery@oracle.com', "this address", :cc => "steve.westwood@hexsaw.org.uk" %>. We promise not to forward your contact details to any other parties.</p>
		</div>
		<div class="col-md-4">
			  <%= partial "chesslinks" %>
		</div>
	</div>
</div>
