---
title: Contact Us
---

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<p>Please contact the chess club by emailing us <%= mail_to 'steve.westwood@hexsaw.org.uk', "at this address", :cc => "steve.westwood@hexsaw.org.uk" %>. We promise not to forward your details to any other parties without prior permission from yourselves.</p>
		</div>
		<div class="col-md-4">
			  <%= partial "chesslinks" %>
		</div>
	</div>
</div>


