---
title: St Neots Chess Club
---

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<blockquote>
				<p><b>All that matters on the chessboard is good moves.</b></p>
				<small>Bobby Fischer</cite></small>
			</blockquote>
			<div class="progress">
				<div class="progress-bar" style="width: 100%;"></div>
			</div>
		</div>
		<div class="col-md-4">
			<h3>Useful links</h3> 
		</div>
	</div>
</div>


