---
title: St Neots Chess Club
---

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<blockquote>
				<p><strong>All that matters on the chessboard is good moves.</strong></p>
				<small><cite>Bobby Fischer</cite></small>
			</blockquote>
			<div class="progress">
				<div class="progress-bar" style="width: 0%;"></div>
			</div>
			<p class="lead">Welcome to the web site of the <b>St Neots Chess Club</b>, a well-established, friendly chess club based at St Neots in Cambridgeshire.</p>
			<br/>
		  	<h4><b>Recent Club News</b></h2>
	      	<div class="row">
		        <div class="col-lg-12">
		          <h4>18th May 2015 - Fenland Cup Final Heartbreak</h2>
		          <p>Despite our fine efforts,  <%= link_to "Royston", 'http://roystonchessclub.webs.com/' %> completed a clean-sweep of County tournament victories with a 3.5 - 0.5 win over St Neots...</p>
		          <p><a class="btn btn-primary" href="/news.html" role="button">More News &raquo;</a></p>
		       </div>
	      	</div>
		</div>
		<div class="col-md-4">
			  <%= partial "chesslinks" %>
		</div>
	</div>
</div>


