---
title: St Neots Chess Club
---

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<blockquote>
				<p><strong>All that matters on the chessboard is good moves.</strong></p>
				<small><cite>Bobby Fischer</cite></small>
			</blockquote>
			<div class="progress">
				<div class="progress-bar" style="width: 0%;"></div>
			</div>
			<p class="lead">Welcome to the web site of the <b>St Neots Chess Club</b>, a well-established, friendly chess club based at St Neots in Cambridgeshire.</p>
			
		  	<h3><b>Recent Club News</b></h3>
		  	<div class="row">
		  		<% blog.articles[0...2].each do |article| %>
	        		<div class="col-lg-6">
			      		<article>
			    			<h3>
			    				<%= article.title %>
						      	<time><%= article.date.strftime('%B %e, %Y') %></time>
						    </h3>

			    			<%= article.summary %>

			  			</article>
			    	</div>
		    	<% end %>
        	</div>
        	<p><a class="btn btn-primary" href="/news.html" role="button">More news &raquo;</a></p>
		</div>
		<div class="col-md-4">
			  <%= partial "chesslinks" %>
		</div>
	</div>
</div>


