---
title: St Neots Chess Club
---

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<blockquote>
				<p><b>All that matters on the chessboard is good moves.</b></p>
				<small>Bobby Fischer</cite></small>
			</blockquote>
			<div class="progress">
				<div class="progress-bar" style="width: 100x§%;"></div>
			</div>
			<p class="lead">Welcome to the web site of the <b>St Neots Chess Club</b>, a well-established, friendly chess club located at St Neots in Cambridgeshire</p>
		</div>
		<div class="col-md-4">
			  <%= partial "chesslinks" %>
		</div>
	</div>
</div>


