---
title: St Neots Chess Club
---

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<blockquote>
				<p><strong>All that matters on the chessboard is good moves...</strong></p>
				<small><cite>Bobby Fischer</cite></small>
			</blockquote>
			<div class="progress">
				<div class="progress-bar" style="width: 0%;"></div>
			</div>
			<p>Welcome to the web site of the <b>St Neots Chess Club</b>, a well-established, friendly chess club based at St Neots in Cambridgeshire. We have teams representing the Club in three competions: </p>
			<h3 class="list-group-item-heading"><strong>Cambridgeshire County Chess League</strong></h3>
			<p>The premier chess competition in the county, we have teams in both the first and second division.</p>
			<h3 class="list-group-item-heading"><strong>Cambridgeshire County Fenland Cup</strong></h3>
			<p>A knockout competition featuring teams playing in the Cambridgeshire County Chess League.</p>
			<h3 class="list-group-item-heading"><strong>Cambridgeshire County U550 Competition</strong></h3>
			<p>A sister competition to the Chess League in which the aggregate ratings total for the team cannot exceed 550 (using ECF ratings). The Club typically uses this tournament to give over-the-board competitive experience to new members or members with lower ratings.</p>
			<p>During the season (typically from September through to May), the Club meets on <b>Mondays at 7-30pm</b> at the local <%= link_to "RAFA Club", 'https://goo.gl/maps/oz7LX' %> for a few games, and prospective members are welcome to visit the Club as our guest and play  games with Club members. The Club caters for players of all strengths and we are always looking for chess enthusiasts to join us. You can find our contact details <%= link_to "here", '/contact.html' %>.</p>
			<br/>
		</div>
		<div class="col-md-4">
			<%= partial "chesslinks" %>
		</div>
	</div>
</div>
